Agenda:

1. Markdown Formats for documentation
2. Python Basics

**GAYATRI VIDYA PARISHAD COLLEGE OF ENGINEERING**

*Gayatri Vidya Parishad College Of Engineering*

***Gayatri Vidya Parishad***

Normal TExt
       1. Sub TExt 1
       2. sub text 2

<img src="abc.png">

![alt text](abc.png)

|Name | age |
|------|-----|
|PAVAN| 18 |
|PRABHAKAR | 22 |

```
{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
```

{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}

~~~
{
   pavan
    kumar
    reddy
    tadi
}
~~~

Here's a sentence with a footnote. [^1]

[^1]: This is the footnote.

### My Great Heading {#123}

term
: definition

~~hhghnuhjmnjm~~

Who developed C Language ?
- [x] dennis ritche
- [ ] Charles Babbage
- [ ] Pavan Kumar

In [12]:
print('pavan')

pavan

In [13]:
print("pavan")

pavan

In [14]:
print('''pavan
is
a 
good
boy''')

pavan
is
a
good
boy

In [15]:
a,b,c = 10,20,30
print(a+b+c)

60

In [16]:
x,y,z = "pavan",20,30.5
print(x,y,z)

pavan 20 30.5

In [17]:
type(a)

int

In [18]:
type(x)

str

In [19]:
type(z)

float

In [20]:
a = 10
b = a**a**2
print(b//2) # // -> results in a integer

5000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [21]:
b/2

5e+99

In [22]:
int(b/2) # Converting a float point value to integer

5000000000000000079514455548799590234180404281972640694890663778873919386085190530406734992928407552

In [23]:
str(b/2) # Converting a floating point value to a string

'5e+99'

In [25]:
int(x)

ValueError: invalid literal for int() with base 10: 'pavan'

In [26]:
y = 20
float(y)

20.0

In [27]:
# Read Principle, time and rate from the user and print the Simple Interest
# Simple Interest Formula - Si = P * T * R /100
p,t,r = 1000,10,10
si = p*t*r/100
print(si)

1000.0

In [29]:
# Reading input from the user
# we use a function called input()
# input() -> will only read string values
x = input('Enter Your name')
print(x)

Enter Your namePAVAN
PAVAN

In [32]:
# Try simplifying the simple interest Problem
p = int(input('Enter the Principle Amount: '))
t = int(input('Enter the Total Time: '))
r = float(input('Enter the Rate of interest: '))
si = p*t*r/100
print('Simple interest for the principle is : ',si)

Enter the Principle Amount: 1000
Enter the Total Time: 2
Enter the Rate of interest: 12
Simple interest for the principle is :  240.0

In [40]:
x = " PAVAN "
x*10

' PAVAN  PAVAN  PAVAN  PAVAN  PAVAN  PAVAN  PAVAN  PAVAN  PAVAN  PAVAN '

In [41]:
n1 = int(input('Enter first number'))
n2 = int(input('Enter Second Number'))
n1*100+n2

Enter first number10
Enter Second Number20

1020