*DECISION CONTROL STRUCTURE*

In [6]:
x = 0
if x>0:
    print("POSITIVE")
    print("Good Programming")
else:
    print("NOT POSITIVE")
    print("Good Programming")

NOT POSITIVE
Good Programming

In [7]:
# Program to find the absolute difference of two numbers without using abs() function
n1 = int(input('Enter a Number'))
n2 = int(input('Enter a Number'))
n3 = n1-n2
if n3>=0:
    print(n3)
else:
    print(n3*-1)

Enter a Number2
Enter a Number5
3

In [8]:
# Program to find the absolute difference of two numbers using abs() function
n1 = int(input('Enter a Number'))
n2 = int(input('Enter a Number'))
print(abs(n1-n2))

Enter a Number2
Enter a Number5
3

# Logical Operators in python
&& - and
|| - or
! - not

# Relational operators in Python
> - Greater than
< - less than
<= - Less than or equal to
>= - greater than or equal to
== - Equal to
!= Not Equal to
= - This is not a relational operator , this is called assignment operator - This operator falls 
under arithmetic operators

In [9]:
x = 0
if x!=20:
    print('hi')

hi

In [10]:
# Program to find out if a given year is a leap year or not
year = int(input('Enter Any year'))
if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print("Leap Year")
        else:
            print("Not a leap year")
    else:
        print("Leap Year")

Enter Any year1700
Not a leap year

In [15]:
# Simplifying the above program 
year = int(input("Enter an Year"))
if year%4 == 0 and year %100!=0:
    print("Leap Year")
elif year%4 == 0 and year%100 == 0 and year%400 == 0:
    print("Leap Year")
else:
    print("Not Leap Year")

Enter an Year2200
Not Leap Year

In [20]:
# Another Simplification
year = int(input("Enter an Year"))
if (year%4 == 0 and year %100!=0) or (year%400 == 0):
    print("Leap Year")
else:
    print('Not Leap Year')

Enter an Year1998
Not Leap Year

# String Slicing

In [37]:
var = "gayatri Vidya Parishad College"
var[8]

'V'

In [25]:
# Total Length of A string
print(len(var))

30

In [27]:
var[0:7]

'Gayatri'

In [28]:
var[-1]

'e'

In [29]:
var[-2]

'g'

In [33]:
var[0:30:3]

'Gaiiaasdoe'

In [34]:
# Reverse a string
var[::-1]

'egelloC dahsiraP aydiV irtayaG'

In [38]:
# CApitalize
var.capitalize()

'Gayatri vidya parishad college'

In [39]:
var2 = "your name"
var2.capitalize()

'Your name'

In [40]:
# Lower() method
a = "ONE BY ONE"
a.lower()

'one by one'

In [42]:
# swapcase() method
b = "I'm PAVAN"
b.swapcase()

"i'M pavan"

In [43]:
# title()
c = "hello world!"
c.title()

'Hello World!'

In [44]:
# upper()
c.upper()

'HELLO WORLD!'

In [46]:
# Find if a given string s2 is a substring of s1
# in operator
s1 = input("Enter some text")
s2 = input("Enter some text")
if s2 in s1:
    print("YES")
else:
    print("NO")

Enter some textThanks
Enter some textas
NO

In [47]:
s1 = "Hello"
s2 = "World"
s1+s2

'HelloWorld'

In [49]:
print(s1,s2)

Hello World

In [51]:
d = "aAbcdefghijklmnop"
min(d)

'A'

In [52]:
max(d)

'p'

In [53]:
s1*10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [54]:
s1

'Hello'

In [55]:
s1.count('l')

2

In [59]:
s1.center(0)

'Hello'

In [60]:
s = "hi"

In [62]:
s.center(11)

'     hi    '

In [65]:
s = '        '
s.isspace()

True

In [66]:
s = "hi"
# The following method justifies s to left hand side
s.ljust(100)

'hi                                                                                                  '

In [67]:
# The following method justifies s to the righ hand side
s.rjust(10)

'        hi'

In [69]:
s = "hi "
s.strip()

'hi'

In [70]:
s = "This is a sample"
s.index('a')

8

In [71]:
s.index('i',4,10)

5

In [72]:
s.index('i')

2

In [73]:
s.find('a')

8

In [74]:
s.rfind('a')

11

In [75]:
s.rfind('i')

5

In [76]:
s.replace('a','o')

'This is o somple'

In [77]:
s

'This is a sample'

In [78]:
s.replace('a','o',1)

'This is o sample'

In [80]:
s = "@gmail"
s.casefold()

'@gmail'

In [81]:
s = "Gayatri"
s.casefold()

'gayatri'

In [87]:
s = "GAYATRI"
s.islower()

False

In [88]:
s.isupper()

True

In [91]:
s.endswith('I')

True

In [92]:
s.endswith("RI")

True

In [93]:
s.endswith("TRI")

True

In [94]:
s.endswith("GAYATRI")

True

In [95]:
s.endswith("Vidya")

False

In [103]:
s = "gaa123!@!!@"
s.isalnum()

False

In [100]:
s = "gayat123"
s.isalpha()

False

In [104]:
s = '123'
s.isnumeric()

True

In [105]:
s = 'abc123'
s.isnumeric()

False

In [106]:
s = '123'
s.isdecimal()

True

In [108]:
s = '123.123'
s.isdecimal()

False

In [109]:
s = "Hey hows are you"
s.startswith("He")

True

In [110]:
s.startswith('y ')

False

In [112]:
s = "one"
s.join("PAVAN")

'PoneAoneVoneAoneN'

In [113]:
s = "RAMU IS A GOOD BOY"
s.partition("IS")

('RAMU ', 'IS', ' A GOOD BOY')

In [114]:
s.partition("GOOD")

('RAMU IS A ', 'GOOD', ' BOY')

In [115]:
s.rpartition("GOOD")

('RAMU IS A ', 'GOOD', ' BOY')

In [116]:
s.rpartition("IS")

('RAMU ', 'IS', ' A GOOD BOY')

In [117]:
s

'RAMU IS A GOOD BOY'

In [118]:
s = "RAMU IS A GOOD BOY GOOD OF CHARACTER"
s.partition("GOOD")

('RAMU IS A ', 'GOOD', ' BOY GOOD OF CHARACTER')

In [119]:
s.rpartition("GOOD")

('RAMU IS A GOOD BOY ', 'GOOD', ' OF CHARACTER')

In [120]:
s = "IM A GOOD BOY"
s.split(' ')

['IM', 'A', 'GOOD', 'BOY']

In [121]:
s.split('A')

['IM ', ' GOOD BOY']